{% extends 'base.html.twig' %}

{% block title %}Logbooks{% endblock %}

{% block body %}
    <h1>Logbooks</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <td></td>
            <th>UserId</th>
            <td></td>
            <th>UserLogin</th>
            <td></td>
            <th>BookId</th>
            <td></td>
            <th>BookName</th>
            <td></td>
            <th>BookAuthor</th>
            <td></td>
            <th>BookYear</th>
            <td></td>
            <th>Date take</th>
            <td></td>
            <th>Date return</th>
            <td></td>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% set i = 0 %}
        {% for logbook in logbooks %}
            <tr>
                <td>{{ logbook.getId() }}</td>
                <td></td>
                <td>{{ users[i].getId() }}</td>
                <td></td>
                <td>{{ users[i].getLogin() }}</td>
                <td></td>
                <td>{{ books[i].getId() }}</td>
                <td></td>
                <td>{{ books[i].getName() }}</td>
                <td></td>
                <td>{{ books[i].getAuthor() }}</td>
                <td></td>
                <td>{{ books[i].getYear() }}</td>
                <td></td>
                <td>{{ logbook.getDateTake() }}</td>
                <td></td>
                <td>{{ logbook.getDateReturn() }}</td>
                <td></td>
                <td>
                    <a href="{{ path('return_book', {'user_id': logbook.getUser(), 'book_id': logbook.getBook()}) }}">Return</a>
                </td>
            </tr>
            {% set i = i + 1 %}
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('user_index') }}">User</a>
    <a href="{{ path('book_index') }}">Books</a>
{% endblock %}