{% extends 'base.html.twig' %}

{% block title %}Logbooks{% endblock %}

{% block body %}
    <h1>Logbooks</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>User_id</th>
            <th>Book_id</th>
            <th>Date take</th>
            <th>Date return</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for logbook in logbooks %}
            <tr>
                <td>{{ logbook.getId() }}</td>
                <td>{{ logbook.getUser() }}</td>
                <td>{{ logbook.getBook() }}</td>
                <td>{{ logbook.getDateTake() }}</td>
                <td>{{ logbook.getDateReturn() }}</td>
                <td>
                    <!<a href="{{ path('delete', {id: logbook.id}) }}">show</a>>
                    <!<a href="{{ path('players_edit', {'id': player.id}) }}">edit</a>>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!<a href="{{ path('players_new') }}">Create new</a>>
{% endblock %}