{% extends 'base.html.twig' %}

{% block title %}Logbooks{% endblock %}

{% block javascripts %}
    <script src="{{ asset('home/nik/templates/logbook/index.js') }}"></script>
{% endblock %}

{% block body %}
    <script src="{{ asset('home/nik/templates/logbook/index.js') }}"></script>
    <h1>Logbooks</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <td></td>
            <th>User_id</th>
            <td></td>
            <th>Book_id</th>
            <td></td>
            <th>Date take</th>
            <td></td>
            <th>Date return</th>
            <td></td>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for logbook in logbooks %}
            <tr>
                <td>{{ logbook.getId() }}</td>
                <td></td>
                <td>{{ logbook.getUser() }}</td>
                <td></td>
                <td>{{ logbook.getBook() }}</td>
                <td></td>
                <td>{{ logbook.getDateTake() }}</td>
                <td></td>
                <td>{{ logbook.getDateReturn() }}</td>
                <td></td>
                <td>
                    <a onclick="putReturn(put({{ logbook.getUser() }}, {{ logbook.getBook() }}));">Return</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}