{% extends 'base.html.twig' %}

{% block title %}Logbooks{% endblock %}

{% block body %}
    <h1>Logbooks</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <td></td>
            <th>User_id</th>
            <td></td>
            <th>Book_id</th>
            <td></td>
            <th>Date take</th>
            <td></td>
            <th>Date return</th>
            <td></td>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for logbook in logbooks %}
            <tr>
                <td>{{ logbook.getId() }}</td>
                <td></td>
                <td>{{ logbook.getUser() }}</td>
                <td></td>
                <td>{{ logbook.getBook() }}</td>
                <td></td>
                <td>{{ logbook.getDateTake() }}</td>
                <td></td>
                <td>{{ logbook.getDateReturn() }}</td>
                <td></td>
                <td>
                    <a href="{{ path('return_book', {'user_id': logbook.getUser(), 'book_id': logbook.getBook()}) }}">Return</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('user_index') }}">User</a>
    <a href="{{ path('book_index') }}">Books</a>
{% endblock %}